LAMP_DEM_PATH=data/task1/DEM_Subset-Original.tif
LAMP_SAR_PATH=data/task1/SAR-MS.tif
LAMP_MARKS_PATH=data/task1/Marks_Brief1.shp
LAMP_BUILDINGS_PATH=data/task1/BuildingFootprints.shp
LAMP_TRAIN_PATHS=data/task1/known_paths_train.shp
LAMP_EVAL_PATHS=data/task1/known_paths_eval.shp
LAMP_DIAG_OUT=outputs/diagnostics
