LAMP_DEM_PATH=task1-path-tracing/Task_1/DEM_Subset-Original.tif
LAMP_SAR_PATH=task1-path-tracing/Task_1/SAR-MS.tif
LAMP_MARKS_PATH=task1-path-tracing/Task_1/Marks_Brief1.shp
LAMP_BUILDINGS_PATH=task1-path-tracing/Task_1/BuildingFootprints.shp
LAMP_TRAIN_PATHS=task1-path-tracing/known_paths_train.shp
LAMP_EVAL_PATHS=task1-path-tracing/known_paths_eval.shp
LAMP_DIAG_OUT=outputs/diagnostics
